.crystal-ball {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* push content to the bottom */
  align-items: center;
  height: 100vh; /* take full height of the viewport */
  padding-bottom: 50px; /* optional: add space from the bottom */
}

.crystal-ball img {
  padding-top: 70px;
  width: 300px;
}

.start {
  padding-top: 140px;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #b19cd9;
}

a:hover {
  transform: translateY(-5px) scale(1.05);
  transition: transform 0.3s ease, text-shadow 0.3s ease;
  text-shadow: 0 0 10px #00ccff, 0 0 20px #fff;
}